body {
    background-color: #80171025;
    max-width: 100%;
    max-height: 100vh;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.2fr 0.4fr;
    grid-template-areas:
      "nav"
      "main"
      "footer";
    gap: 0.5rem;
  }
  main {
    grid-area: main;
    justify-content: center;
  }
  .sidebar {
    grid-area: sidebar;
  }
  nav {
    background-color: #801710;
    grid-area: nav;
    vertical-align: middle;
  }

  button:hover {
    color: #bad9a6;
  }
  main > img {
    width: 600px;
    height: auto;
    border-radius: 1rem;
  }
  .tab {
    background-color: #ffffff5e;
    border: #ebebeb5e;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: medium;
    font-family: "Times New Roman", Times, serif;
    color: #ffffff;
    cursor: pointer;
    vertical-align: middle;
  }
  .sleigh {
    float: right;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-left: 1rem;
  }
  .login {
    float: right;
    padding-right: 1rem;
    padding-top: 0.5rem;
  }
  
  footer > p {
    color: #ffffff;
    padding-left: 1rem;
  }
  ::placeholder {
    color: #ffffff;
  }

  
  
  #search-toggle {
    display: none;
  }
  #search-toggle:checked ~ .search {
    display: block;
  }
  .menue {
    display: none;
  }

  .overlay1 {
    position: absolute;
    background-color: #2a252542;
    top: 128%;
    left: 2.2%;
    width: 21.2%;
    height: 46%;
    color: #ffffff;
    transition: 0.5s;
    transition-delay: 0.1s;
    transform-style: ease-in;
    opacity: 0;
  }