body {
  background-color: #801710;
  max-width: 100%;
  height: 100vh;
  }
  
  .container {
  display: grid;
  height: 100%;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.2fr 0.4fr;
  grid-template-areas:
  "nav"
  "main"
  "footer";
  gap: 0.5rem;
  }
  nav {
  background-color: #801710;
  grid-area: nav;
  vertical-align: middle;
  position: fixed;
  top: 0;
  }
  main {
  grid-area: main;
  }
  footer {
  background-color: #801710;
  grid-area: footer;
  position: fixed;
  bottom: 0;
  }
  
  button:hover {
  color: #bad9a6;
  }
  
  .tab {
  background-color: #ffffff5e;
  border: 1px solid #ebebeb5e;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  margin: 0.2rem 1rem;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  cursor: pointer;
  vertical-align: middle;
  }
  
  {
  margin: 0;
  box-sizing: border-box;
  }
  #contact {
  background-color: #6a9ac4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  }
  
  .contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
  }
  
  .contact-links,
  .contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
  }
  
  .contact-links {
  background-color: #1f2e43;
  background: radial-gradient(
  circle at 55% 92%,
  #429145 0,
  #499142 12%,
  transparent 12.2%
  ),
  radial-gradient(
  circle at 94% 72%,
  #539142 0,
  #4a9142 10%,
  transparent 10.2%
  ),
  radial-gradient(
  circle at 20% max(78%, 350px),
  #437340 0,
  #38c25f 7%,
  transparent 7.2%
  ),
  radial-gradient(
  circle at 0% 0%,
  #265328 0,
  #395326 40%,
  transparent 40.2%
  ),
  #27431f;
  border-radius: 10px 0 0 10px;
  }
  
  .contact-form-wrapper {
  background-color: #801710;
  border-radius: 0 10px 10px 0;
  }
  
  h2 {
  font-family: "Times New Roman";
  color: #fff;
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
  text-align: center;
  transform: scale(0.95, 1);
  }
  
  .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  }
  
  .link {
  margin: 10px;
  cursor: pointer;
  }

img {
  width: 45px;
  height: 45px;
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #0006);
  transition: 0.2s;
  user-select: none;
}

img:hover {
  transform: scale(1.1, 1.1);
}

img:active {
  transform: scale(1.1, 1.1);
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #222)
    sepia(0.3);
}

.form-item {
  position: relative;
}

label, input, textarea {
  font-family: 'Poppins', sans-serif;
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input, textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label, 
input:valid+label, 
textarea:focus+label, 
textarea:valid+label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all .225s ease;
}

.submit-btn {
  background-color: #fd917e;
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}
