body {
    margin: 0px;
    background-color: #80171025;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2rem 1fr 2rem;
    grid-template-areas:
      "header header header"
      "content content content"
      "footer footer footer";
    min-height: 100vh;
    gap: 2rem;
    row-gap: 2rem;
}
.header {
    background-color: #801710;
    grid-area: header;
    height:fit-content;
}
.ribbon-top {
    background-color: #801710;
    padding-top: 0.5rem;
}
.ribbon-bottom {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
nav {
align-content: center;
}
.tab {
    background-color:#ffffff5e;
    border:#ebebeb5e;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 1rem;
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
    color: #ffffff;
    cursor: pointer;
    vertical-align: middle;
    
}

.search {
    background-color: #ffffff5e;
    border: #ebebeb5e;
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
    color: #ffffff;
    border-radius: 1rem;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 8rem;

    
}
/*code taken from w3s school*/
::placeholder {
    color:#ffffff;
}
.vector {
    vertical-align:middle;
    margin-left: 1rem;  
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "products products"
    "products products";
    row-gap: 1rem;
    height: fit-content;
    padding-top: 10rem;
}
.headline {
    grid-area: products;
    margin-top: 30rem; 
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: x-small;  
}
.products {
    grid-area: products;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "item1 item2"
    "item3 item4"
    "item5 item6"
    "item7 item8"
    "item9 item10";
    row-gap: 1rem;
    position: relative;
    padding-top: 35rem; 
    padding-left: 12rem;

}
.frame1{
    grid-area: item1;
}
.frame2 {
    grid-area: item2;
    position:relative;
    margin-right: 10rem;
}
.frame3 {
    grid-area: item3;
}
.frame4 {
    grid-area: item4;
    position:relative;
    margin-right: 10rem;
}
.frame5{
    grid-area: item5;
}
.frame6 {
    grid-area: item6;
    position:relative;
    margin-right: 10rem;
}
.frame7 {
    grid-area: item7;
}
.frame8 {
    grid-area: item8;
    position:relative;
    margin-right: 10rem;
}
.frame9 {
    grid-area: item9;
}
.frame10 {
    grid-area: item10;
    position:relative;
    margin-right: 10rem;
}
.footer {
    background-color: #801710;
    grid-area: footer;
    height: fit-content;
    vertical-align: middle;
    color: #ffffff;
}
.location{
    margin-left: 4rem;
}
.nr{
    margin-left: 4rem;
}